
.main-section-div{
    display: flex;
    justify-content: space-between;
    margin-top: 12rem;
}

.main-section-div .des{
    width: 50%;
}

.main-section-div .image{
    width: 50%;
}

.main-section-div .des h1{
    color: #272d4e;
    font-size: 4rem;
    margin-bottom: 0.5rem;
}

.main-section-div .des p{
    color: #4b5d68;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    margin-bottom: 2rem;
}

.main-section-div .image img{
    width: 500px;
}

.main-section-div .des .purple-button{
    font-size: 1rem;
    background-color: blueviolet;
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: white;
    transition: 0.3s;
}

.main-section-div .des .purple-button:hover{
    background-color: darkblue;
}

