
.container{
    max-width: 1024px;
    margin: 0 auto;
    scroll-behavior: smooth;
}

.add-shadow{
    box-shadow: 0 0.4375rem 0.875rem 0 rgb(65 69 88 / 10%), 0 3px 6px 0 rgb(0 0 0 / 7%) !important;
}

.header{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.menu-div{
    display: flex;
    align-items: center;
}

.menu-div ul {
    display: flex;
    margin-left: 5rem;
}

.menu-div ul li{
    margin: 12px;
}

.menu-div ul li a {
    color: black;
    font-size: 1.1rem;
    transition: 0.3s;
}

.menu-div ul li a:hover{
    color: #4d5d68;
    font-weight: 600;
    text-shadow: 1px 1px 3px #ff0000;
}

.white-button{
    display: flex;
    align-items: center;
    font-size: 1rem;
    background-color: #f9fafd;
    padding: 0.7rem;
    border-radius: 2rem;
    box-shadow: 0 0.4375rem 0.875rem 0 rgb(65 69 88 / 10%), 0 3px 6px 0 rgb(0 0 0 / 7%) !important;
    user-select: none;
}   

.white-button a{
    color: #4d5d68;
    font-weight: 600;
}

.white-button i{
    margin-left: 10px;
}